﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ITM<br />
    Belen, Medellin<br />
    <abbr title="Phone">Cel:</abbr>
    3015550760
</address>

<address>
    <strong>FacebookPage:</strong>   <a href="https://www.facebook.com/Basilio9210">Basilio Saldarriaga</a><br />
    <strong>WebPage:</strong>   <a href="https://basiliosaldarriaga.blogspot.com.co/">Basilio</a><br />
    <strong>Email address:</strong> <a href="mailto:Marketing@example.com">basilio9210@gmail.com</a>
</address>